:root{
    --color-bg-blue:#357EFE;
    --color-black: #000;
    --color-white: #fff;
    --color-gray-50: rgba(78, 93, 124, 0.5);
    --color-gray: rgba(78, 93, 124, 1);
    --shadow-32: drop-shadow(0px 0px 32px rgba(78, 93, 124, 0.32));
    --shadow-16: drop-shadow(0px 0px 32px rgba(78, 93, 124, 0.16));
    --layout-width: 1440px;
    --layout-width-1200: 1200px;
}
html{

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-black);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    background: var(--color-white);
    margin: 0;
}
a{
    text-decoration: none;
}
