@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    color: white;
    text-align: center;
    font-family: Roboto;

}

.dev-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.article__container {
    max-width: 708px;
    margin: 0 auto;
}

.dev-container__text {
    text-align-last: left;
}
.dev-container__img{
    width: 50px;
    height: 50px;
}

.header-container {
    display: flex;
    padding: 80px 30px;
    justify-content: space-between;


}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-right: 77px;
    text-decoration: none;
    color: white;

}


.profile-pic {
    box-shadow: 0px 15px 30px 0px #00000026;
    font-family: 'Source Sans 3';
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    width: 35px;
    height: 35px;
    background: #4B5563;

}

.profile-name {
    font-size: 18px;
    font-weight: 400;
    line-height: 18.21px;

}

.search {
    background-color: rgba(31, 41, 55, 0.6);
    padding: 11px 0 12px 49px;
    border-radius: 100px;
    border: none;
    position: relative;
}

.search-img {
    position: absolute;
    z-index: 1;
    padding: 12px 0 12px 18px;
}

.search:placeholder {
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;

}

/* .nav__title a:nth-child(2n) {
    margin: 0 39px 0 52px;
} */
.nav__title{
    min-width: 300px;
    display: flex;
    justify-content: space-between;
}

.nav__title a {
    text-decoration: none;
    color: white;
    text-align-last: left;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 400;
}


.screen__img  {
    margin: 0 auto;
    width: 896px;
    height: 594px;
    margin-bottom: 69px;
}

.blog__date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    opacity: 0.6;
    line-height: 16px;
    margin-bottom: 14px;
}

.author__block {
    margin-bottom: 28px;
}

.blog__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    margin-bottom: 30px;
}

.blog__author {
    font-size: 16px;
    line-height: 28px;
}

.blog__author+p {
    line-height: 28px;
    font-size: 14px;
    opacity: 0.6;
}

.blog__content {
    font-size: 20px;
    line-height: 32px;
    text-align: left;
    margin-bottom: 30px;
}

.blog__content-small {
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 90px;
}

footer p {
    opacity: 60%;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}