* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F39494;
}

.container {
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 7px;
    background-color: #FFFEFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 582px;


}

.form__title a {
    text-decoration: none;
    margin-left: 5px ;
}

.form__title {
    margin: 72px 0 47px 0;
    text-align: center;
}
.form__login{
    margin-top: 9px;
    display: flex;
    justify-content: center;
    gap: 6px;
}
.reg-form {
    min-width: 394px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.fullname {
    display: flex;
    justify-content: space-between;
}

.fullname input {
    width: calc(50% - 0.4px);
    font-family: 'Open Sans';


}

.fullname input[name=name] {
    border-radius: 5px 0 0 5px;
}

.fullname input[name=surname] {
    border-radius: 0 5px 5px 0;
}

h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    
}

h2 {
    color: #333333;
    font-size: 16px;
}

input {
    border: none;
    padding: 9px 11px;
    background-color: #F5F5F5;
    border-radius: 5px;
}

input::placeholder {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

p {
    color: #666666;
}

button {
    font-family: 'Open Sans';
    color: #FFFFFF;
    background-color: #089FE0;
    position: relative;
    padding: 9px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    border-radius: 5px;
    border: none;
}

button::after {
    content: url(./images/Arrow\ 1.svg);
    position: absolute;
    right: 19px;

}
a{
    color: #089FE0;
}
.terms{
    text-align: center;
font-size: 14px;
font-weight: 400;
letter-spacing: 0em;
margin-bottom: 91px;
}